
        /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------Footer Section Started ------------>>>>>>>>>>>>> */

        #footer1 {
            display: flex;
            padding-top: -5px;
            border: px solid;
        }

        #footer1>div:first-child {
            width: 49%;
            padding: 0px;
            border: 0px solid;
        }

        #footer1>div:first-child>p {
            margin: 13px 0px 0px 20px;
            font-size: 14px;
        }

        #footer1>div:first-child>button {
            width: 100px;
            height: 40px;
            margin: 20px 0px 10px 20px;
            padding: 10px 0px 10px 0px;
            font-size: 27x;
            background-color: brown;
            border: none;
            color: white;
        }


        #footer1>div:last-child {
            width: 49%;
            border: 0px solid;
        }

        #footer1>div:last-child> p{
            margin-top:10px;
        }
        
        #footer1>div:last-child>div {
            display: flex;
            margin: 10px 0px 10px 0px;

        }

        #footer1>div:last-child>div>img {
            width: 35px;
            height: 35px;
            margin: 5px 10px;
        }

        /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------Footer2 Section Started ------------>>>>>>>>>>>>> */


        #footer2 {
            display: flex;
            padding-top: 10px;
            background-color: whitesmoke;
        }

        #footer2>div:first-child {
            width: 49%;
            padding-left: 10px;
        }

        #footer2>div:first-child>h5 {
            font-size: 16px;
            color: brown;
            margin-top : 10px;
            padding-top: 10px;
            margin-bottom: 20px;
        }

        #footer2>div:first-child>div:first-child {
            border: 1px solid;
            width: 96%;
            margin-bottom: 0px;
        }

        #footer2>div:first-child>div~div {
            display: flex;
            border: 0px solid;
            margin-top: -10px;
            border: 0px solid;
        }

        #footer2 > div:first-child>div>img {
            width: 30px;
            height: 30px;
            display: inline;
            border: 0px solid;
            padding-top: 10px;
            margin-bottom: 10px;
        }

        #footer2>div:first-child>div>p {
            padding-bottom: 0px;
            padding-left: 10px;
            color: teal;
            border: 0px solid;
            font-size: 16px;
            padding-top: 19px;
        }

        #footer2>div:last-child {
            width: 49%;
            height: 300px;
            border: 0px solid;
            display: flex;
            justify-content: space-between;
        }

        #footer2>div:last-child>div {
            border: 0px solid;
            width: 200px;

        }

        #footer2>div:last-child>div>h5 {
            font-size: 16px;
            color: brown;
            margin-top: 10px;
            padding-top: 10px;
        }

        #footer2>div:last-child>div>div:first-child {
            border: 1px solid;
            margin-bottom: 0px;
        }

        #footer2>div:last-child>div>p {
            margin: 15px 0px 10px 5px;
            font-size: 14px;
            color: teal;
        }

        /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------Footer3 Section Started ------------>>>>>>>>>>>>> */

        #footer3 {
            display: flex;
            padding-top: 10px;
            border-top: 1px solid;
            margin-top: 5px;
        }

        #footer3>div:first-child {
            width: 48%;
            padding-left: 20px;
            padding-top: 0px;
            /* background-color: blue; */
        }

        #footer3>div:last-child>p {
            margin-top: 0px;
            margin-bottom: 10px;
        }

        #footer3>div:last-child>div {
            width: 49%;
            height: 100px;
            border: 0px solid;
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            column-gap: 10px;


        }

        #footer3>div:last-child>div>img {
            width: 65px;
            height: 33px;

        }

