/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------Univesal-------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

* {
  /* margin: 0; */
  /* padding: 0; */
  font-family: sans-serif;
  font-weight: 400px;
  cursor: pointer;
}
.horizontal_lines{
  border: 1px solid #ccc;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------Pay_container-------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#Pay_container {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  margin: 80px;
  gap: 10px;
  cursor: pointer;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------parent_payment_lft-------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------parent_payment_lft_login-------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#parent_payment_lft_login {
  /* border: 1px solid rgb(225, 10, 10); */
  display: flex;
  justify-content: space-evenly;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 25px;
  width: 97%;
  margin-left: -2px;
  padding: 10px;
  cursor: pointer;
}
#parent_payment_lft_login > div > button {
  display: inline-block;
  border: 1px solid;
  padding: 15px 20px;
  margin-top: 25px;
  background-color: black;
  color: white;
  cursor: pointer;
}
#parent_payment_lft_login > div > button:hover {
  display: inline-block;
  border: 1px solid;
  padding: 15px 20px;
  margin-top: 25px;
  background-color: rgb(8, 176, 176);
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------parent_payment_lft_guest-------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#parent_payment_lft_guest {
  padding: 20px;
  margin: 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
form {
  width: 97%;
  margin-bottom: 10px;
  padding: 11px;
  border: 1px solid rgb(235, 227, 227);
  border-radius: 3px;
}
input[type="text"] {
  width: 95%;
  margin-bottom: 20px;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

form > input[type="email"] {
  width: 95%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#Choose_Country {
  width: 99.5%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#parent_quest > button {
  /* width: 70%; */
  border: 0px;
  background-color: white;
}
#parent_quest > button a:hover {
  background-color: aliceblue;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------parent_payment_lft_delivery-------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#parent_payment_lft_delivery {
  margin-top: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  cursor: pointer;
}
#parent_payment_lft_delivery > div {
  background-color: rgb(230, 240, 248);
  padding: 10px;
  border-radius: 3px;
  width: 95%;
  height: 60px;
  margin-left: 2px;
  /* margin: 10%; */
  text-align: center;
}
#parent_payment_lft_delivery > div > p {
  margin-top: 23px;
  color: rgb(35, 35, 190);
  font-size: 16px;
}
#input[type="checkbox"] {
  width: 40%;
}
/* #parent_payment_lft_delivery  div  div{
  
} */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------parent_payment_lft_paymentMethod-------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#border_select {
  border: 4px solid rgb(185, 180, 180);
  /* border: 1px solid; */
}

#parent_payment_lft_paymentMethod > div {
  padding: 20px;
  margin-top: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#parent_payment_lft_paymentMethod > div > div > img {
  border: 1px solid;
  width: 90px;
  margin: 5px;
  border-radius: 2px;
  border: whitesmoke;
}

#PaymentOptionsAn {
border: 0px solid;
width: 100%;
padding-right: 0px;

}


#Payment-DropdownBtn {
  width: 100%;
  
  font-size: 20px;
  text-align: left;
  border:0px solid ;
  border-bottom: 1px solid grey;
  display: flex;
  padding: 0.9rem;
  justify-content: space-between;
  background-color: white;
  border: 1px solid teal;
  padding: 10px 20px 10px 0px ;
  box-sizing: border-box;
  border-radius: 5px;

}
#Payment-DropdownBtn > h2 {
  margin: 0px;
  font-size: 24px;
}


#Payment-DropdownBtn > div {
  border: solid black;
  border-width: 0px 1px 1px 0px;
  padding: 8px;
  transform: rotate(45deg);
  overflow: hidden;
}

#Payment-Dropdown{
  width: 100%;
  /* padding: 5px; */
  box-sizing: border-box;
  border: 2px solid #d3d9f0;
  border-radius: 0.3rem;
  /* position: relative; */
  display: none;
}

#Payment-Dropdown > button  {
  display: block;
  width: 100%;
  text-align: left;
  padding: 7px;
  background-color: white;
  border: none;
  border-bottom: 1px solid teal;
  color: teal;
  font-size: 16px;
}

#Payment-Dropdown > button > input {
  margin-bottom: 10px;
  padding-top: -10px ;
}

#Payment-Dropdown > button > img {
  height: 20px;
}






#expiry {
  display: flex;
  justify-content: space-around;
  margin: -10px;
  /* background-color: aqua; */
}
#expiry > select {
  width: 60%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 10px;
}
#security_code {
  width: 45%;
}
#question_btn {
  border-radius: 15px;
  border: 0px;
  width: 25px;
  height: 25px;
  background-color: rgb(144, 133, 133);
  font-size: large;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------parent_payment_lft_submit-------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#parent_payment_lft_submit {
  margin-top: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  cursor: pointer;
}
#termCondition p {
  /* background-color: rgb(185, 106, 9); */
  text-align: center;
}
#parent_payment_lft_submit > button {
  background-color: black;
  color: white;
  padding: 20px;
  border: 0px;
  width: 100%;
  font-size: 18px;
}
#parent_payment_lft_submit > button:hover {
  background-color: rgb(12, 179, 191);
  color: white;
  padding: 20px;
  width: 100%;
  cursor: pointer;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------parent_payment_right-------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#parent_payment_right {
  /* border: 1px solid; */
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 35%;
  height: 150%;
  position: sticky;
  top: 10px;
  
}
.flexdata {
  /* border: 0px solid; */
  display: flex;
  justify-content: left;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  /* height: 90px; */
}

#cartdatainpaymentpage > div {
 display: flex;
 margin-top: 10px;
 border: px solid;
  padding: 10px;
}

#cartdatainpaymentpage > div > img {

  width: 70px;
  height: 70px;
   margin: 0px 10px 0px 0px ;
  border: 0px solid;
  align-items: center;
}

#cartdatainpaymentpage > div  p {
 
  margin: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.219);
}

#deliverydiv {
  margin: 10px;
  
}


#savingdiv > button {
 
  width: 50%;
  padding: 10px;
  border: 0px solid;
  background-color: white;
  font-size: 20px;
  margin-top: -5px;
  
}
#ammountDiv > button{
    padding: 10px 20px 10px 20px;
    width: 50%;
    font-size: 20px;
    border: none;
    background-color: white;
    align-items: left;
    
}



#down_tag {
  /* background-color: blue; */
  margin: 80px;
  margin-top: 10px;
}
