/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<---General section------>>>>>>>>>>>>>>>>>>>> */
* {
  margin: 0px;
  /* font-family: sans-serif; */
}
#container {
  padding: 20px 0px 20px 0px;
  /* margin: auto; */
  cursor: pointer;
}
/* div {
  border: 1px solid black;
} */
#container > div > h1 {
  text-align: center;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-weight: 400;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-----parent section----->>>>>>>>>>>>>>>>>>>> */
#parent {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  font-family: sans-serif;
  font-weight: 400;
  /* border-radius: 50%; */
}

#parent > div {
  text-align: center;
  /* border: 1px solid black; */
  margin: 10px;
  /* margin-bottom: 50px; */
}
#parent > div > p {
  margin-top: 10px;
}

#parent > div > img {
  width: 350px;
  /* background-color: red; */
  height: 350px;
  border-radius: 50%;
}
#parent > div > div > button {
  background-color: white;
  padding: 15px;
  margin-top: 10px;
  border: 1px solid black;
}
#parent > div > div > button:hover {
  background-color: rgb(213, 237, 237);
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-----parent1 section----->>>>>>>>>>>>>>>> */
#parent1 {
  display: flex;
  /* border: 1px dashed black; */
  justify-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  font-family: sans-serif;
  font-weight: 400;
}
#parent1 > div {
  text-align: center;
  /* border: 1px solid black; */
  margin: 10px;
}
#parent1 > div > p {
  margin-top: 10px;
}

#parent1 > div > img {
  width: 350px;
  /* background-color: red; */
  height: 350px;
}
#parent1 > div > div > button {
  background-color: white;
  padding: 15px;
  margin-top: 10px;
  border: 1px solid black;
}
#parent1 > div > div > button:hover {
  background-color: rgb(213, 237, 237);
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<----serums masks section ----->>>>>>>>>>>>>>>> */
#serums-masks {
  display: flex;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-evenly;
  padding: 15px;
  margin-top: 20px;
  width: 97.5%;
  font-family: sans-serif;
  font-weight: 400;
}
#serums-masks > button {
  width: 20%;
  height: 45px;
  border: none;
  margin-bottom: 20px;
  font-family: sans-serif;
  font-weight: 400;
}
#serums-masks > button:hover {
  background-color: rgb(143, 140, 140);
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<----ingred section----->>>>>>>>>>>>>>>> */
#ingred {
  display: flex;
  /* border: 1px dashed green; */
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
}
#ingred img {
  width: 80%;
}
#ingred > div > h2 {
  text-align: center;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<----buttom section---->>>>>>>>>>>>>>>>>> */

#bottom {
  display: flex;
  /* border: 1px dashed black; */
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  font-family: sans-serif;
  font-weight: 400;
}
#bottom > div {
  /* border: 1px dashed black; */
  margin: 15px;
  text-align: center;
  width: 24%;
}
#bottom > div > h2 {
  text-align: center;
  /* background-color: red; */
}
#bottom > div > img {
  width: 80%;
  margin: 15px;
  height: 60%;
  margin: auto;
}
#bottom > div > div > button {
  padding: 10px;
  width: 100%;
  border: none;
  background-color: black;
  color: white;
}
#bottom > div > div > button:hover {
  background-color: rgb(5, 141, 141);
  color: black;
}
#bottom > div > h3 {
  margin-bottom: 10px;
}
#bottom > div > p {
  margin-bottom: 10px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<----readMore section----->>>>>>>>>>>>>>>>>> */
#readMore {
  display: flex;
  /* border: 1px dashed green; */
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
#readMore > div {
  /* border: 1px solid red; */
  margin: 10px;
  font-family: sans-serif;
  font-weight: 300;
}
#readMore > div > img {
  width: 85%;
  /* margin: auto; */
  border-radius: 50%;
  margin-bottom: 10px;
}
#readMore > div > div > button {
  background-color: white;
  padding: 15px;
  /* margin: auto; */
  border: 1px solid black;
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: normal;
}
#readMore > div > div > button:hover {
  background-color: rgb(213, 237, 237);
}
#readMore > div > p {
  margin-top: 10px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<----readme section----->>>>>>>>>>>>>>>> */
#readme {
  width: 96.5%;
  padding: 0px 20px 0px 20px;
}
#readme > h1 {
  text-align: center;
  /* margin-bottom: 20px; */
  /* border: 1px solid black; */
  font-family: sans-serif;
  font-weight: 400;
}
#readme > p {
  margin-bottom: 25px;
  font-family: sans-serif;
  font-weight: normal;
}
