/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<---General section------>>>>>>>>>>>>>>>>>>>> */
* {
  margin: 0px;
  /* font-family: sans-serif; */
  /* cursor: pointer; */
}
#container {
  padding: 20px 0px 20px 0px;
  /* margin: auto; */
  /* padding: 20px; */
}
/* div {
    border: 1px solid black;
  } */
button {
  border: none;
}
#container > div > h1 {
  text-align: center;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-weight: 400;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<----macekupShop section----->>>>>>>>>>>>>>>> */
#macekupShop {
  display: flex;
  /* border: 1px dashed green; */
  grid-template-columns: repeat(6, 1fr);
  width: 97%;
  margin: auto;
  cursor: pointer;
  padding-top: 100px;
}
#macekupShop img {
  width: 80%;
  cursor: pointer;
}
#macekupShop > div > h2 {
  text-align: center;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-----Na-MackupShop section----->>>>>>>>>>>>>>>> */
#Na-MackupShop {
  display: flex;
  /* border: 1px dashed black; */
  justify-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  font-family: sans-serif;
  font-weight: 400;
}
#Na-MackupShop > div {
  text-align: center;
  /* border: 1px solid black; */
  margin: 10px;
}
#Na-MackupShop > div > p {
  margin-top: 10px;
  cursor: pointer;
}

#Na-MackupShop > div > img {
  width: 350px;
  /* background-color: red; */
  height: 350px;
  border-radius: 50%;
  cursor: pointer;
}
#Na-MackupShop > div > div > button {
  background-color: white;
  padding: 13px;
  margin-top: 10px;
  border: 1px solid black;
}
#Na-MackupShop > div > div > button:hover {
  background-color: rgb(213, 237, 237);
  cursor: pointer;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<----Best-Sellers section---->>>>>>>>>>>>>>>>>> */

#Best-Sellers {
  display: flex;
  /* border: 1px dashed black; */
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  font-family: sans-serif;
  font-weight: 400;
  cursor: pointer;
}
#Best-Sellers > div {
  /* border: 1px dashed black; */
  margin: 15px;
  text-align: center;
  cursor: pointer;
}
#Best-Sellers > div > h2 {
  text-align: center;
  background-color: red;
}
#Best-Sellers > div > img {
  width: 250px;
  height: 250px;
  margin: 15px;
  /* height: 60%; */
  margin: auto;
  cursor: pointer;
}
#Best-Sellers > div > div > button {
  padding: 10px;
  width: 100%;
  border: 0px;
  background-color: rgb(10, 2, 2);
  color: white;
}
#Best-Sellers > div > div > button:hover {
  background-color: rgb(5, 141, 141);
  color: black;
  cursor: pointer;
  border: none;
}

#Best-Sellers > div > h3 {
  margin-bottom: 10px;
}
#Best-Sellers > div > p {
  margin-bottom: 5px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<----Na-BlogShop section----->>>>>>>>>>>>>>>>>> */
#Na-BlogShop {
  display: flex;
  /* border: 1px dashed green; */
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  cursor: pointer;
}
#Na-BlogShop > div {
  /* border: 1px solid red; */
  margin: 10px;
  font-family: sans-serif;
  font-weight: 300;
}
#Na-BlogShop > div > img {
  width: 350px;
  height: 350px;
  /* margin: auto; */
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}
#Na-BlogShop > div > div > button {
  background-color: white;
  padding: 13px;
  /* margin: auto; */
  border: 1px solid black;
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: normal;
}
#Na-BlogShop > div > div > button:hover {
  background-color: rgb(213, 237, 237);
  cursor: pointer;
}
#Na-BlogShop > div > p {
  margin-top: 10px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<----MakeUp-captions section----->>>>>>>>>>>>>>>> */
#MakeUp-captions {
  width: 96.5%;
  padding: 0px 20px 0px 20px;
}
#MakeUp-captions > h1 {
  text-align: center;
  /* margin-bottom: 20px; */
  /* border: 1px solid black; */
  font-family: sans-serif;
  font-weight: 400;
}
#MakeUp-captions > p {
  margin-bottom: 25px;
  font-family: sans-serif;
  font-weight: normal;
}


/* <<<<<<<<<<<<<----------------Main Section Top ------------------------------>>>>>>>>>> */

#TopHeader {
  overflow: hidden;
  position: fixed;
  background-color: white;
  width: 100%;
  margin-top: -10px;
  z-index: 3;
}

#TopHeader + div {
  height: 900px;
}

#MainSec {
  display: flex;
  justify-content: space-between;
  height: 105px;
  border: 1px solid;
  width: 100%;
}

#MainSec > div:first-child {
  width: 16%;
  margin-left: 33px;
}

#MainSec > div:first-child > h1 {
  text-align: center;
  font-size: 45px;
  margin-top: 15px;
}

#MainSec > div:first-child > p {
  text-align: center;
  font-size: 12.8px;
}

#MainSec > div:first-child > p > span {
  font-weight: 700;
}

#MainSec > div:nth-child(2) {
  width: 40%;
  padding-top: 34px;
  margin: 0px 15%;
  margin-left: 13%;
  display: flex;
}

#MainSec > div:nth-child(2) > input {
  width: 98%;
  height: 38px;
}

#MainSec > div:nth-child(2) > img {
  width: 33px;
  height: 32px;
  /* border: 1px solid; */
  margin-left: -39px;
  margin-top: 5px;
}

#MainSec > div:nth-child(3) {
  width: 9%;
  padding-top: 35px;
  margin-right: 0%;
}

#MainSec > div:nth-child(3) > button {
  width: 100%;
  height: 35px;
  font-size: 19px;
  border: none;
  background-color: white;
  color: rgb(219, 32, 32);
  font-weight: 545;
}

#MainSec > div:nth-child(3) > button:hover {
  background-color: rgba(235, 226, 226, 0.418);
}

#MainSec > div:nth-child(4) {
  width: 9%;
  padding-top: 35px;
  margin-right: 45px;
}

#MainSec > div:nth-child(4) > button {
  width: 100%;
  height: 35px;
  font-size: 19px;
  padding-left: 18px;
  border: none;
  background-color: white;
  color: rgb(219, 32, 32);
  font-weight: 545;
}

#MainSec > div:nth-child(4) > button:hover {
  background-color: rgba(235, 226, 226, 0.418);
}

#MainSec > div:nth-child(4) > button > img {
  height: 20px;
  width: 20px;
}

#TopHeader > hr {
  border: 1px solid;
}

#AnAccount {
  z-index: 1;
  width: 300px;

  border: 0px solid green;
  margin-bottom: 30px;
  margin-top: -38px;
  margin-left: 66.5%;
  position: fixed;
  overflow: hidden;
  display: none;
  height: fit-content;
}

#AnAccount > div:first-child {
  background-color: grey;
  padding: 5px;
  border: brown;
}

#AnAccount > div:first-child > button {
  display: block;
  width: 90%;
  text-align: center;
  margin: auto;
  background-color: white;
  padding: 15px;
  border: 1px solid teal;
  /* margin: 5px 0px 5px 0px; */
}

#AnAccount > div:last-child > button {
  display: block;
  width: 100%;
  text-align: center;
  margin: auto;
  background-color: white;
  color: black;
  padding: 15px;
  border: 1px solid grey;
  margin-top: 5px;
  margin: 5px 10px 5px 0px;
}

#AnAccount > div > button:hover {
  background-color: brown;
  color: white;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -----Top NavBar ------>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#TopNav {
  border-bottom: 1px solid rgba(167, 204, 204, 0.418);

  padding-left: 16px;
  height: 36px;
}

#TopNav > button {
  height: 35px;
  padding: 5px 12px;
  font-size: 14.2px;
  font-weight: 300;
  padding-top: px;
  padding-bottom: 6px;
  border: none;
  color: gray;
  background-color: white;
}

#TopNav > button:hover {
  background-color: black;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------Footer Section Started ------------>>>>>>>>>>>>> */

#footer1 {
  display: flex;
  padding-top: -5px;
  border: px solid;
}

#footer1>div:first-child {
  width: 49%;
  padding: 0px;
  border: 0px solid;
}

#footer1>div:first-child>p {
  margin: 13px 0px 0px 20px;
  font-size: 14px;
}

#footer1>div:first-child>button {
  width: 100px;
  height: 40px;
  margin: 20px 0px 10px 20px;
  padding: 10px 0px 10px 0px;
  font-size: 27x;
  background-color: brown;
  border: none;
  color: white;
}


#footer1>div:last-child {
  width: 49%;
  border: 0px solid;
}

#footer1>div:last-child>div {
  display: flex;
  margin: 10px 0px 10px 0px;

}

#footer1>div:last-child>div>img {
  width: 35px;
  height: 35px;
  margin: 5px 10px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------Footer2 Section Started ------------>>>>>>>>>>>>> */


#footer2 {
  display: flex;
  padding-top: 10px;
}

#footer2>div:first-child {
  width: 49%;
  padding-left: 10px;
  margin-bottom: 10px;
  /* padding-top: 10px; */
}

#footer2>div:first-child>h5 {
  font-size: 16px;
  color: brown;
  /* background-color: blue; */
  margin-top: 20px;
  margin-bottom: 30px;
}

#footer2>div:first-child>div:first-child {
  border: 1px solid;
  width: 96%;
  margin-bottom: 10px;
}

#footer2>div:first-child>div~div {
  display: flex;
  border: 0px solid;
  margin-top: -10px;
  border: 0px solid;
}

#footer2 > div:first-child>div>img {
  width: 30px;
  height: 30px;
  display: inline;
  border: 0px solid;
  padding-top: 10px;
}

#footer2>div:first-child>div>p {
  padding-bottom: 0px;
  padding-left: 10px;
  color: teal;
  border: 0px solid;
  font-size: 16px;
}

#footer2>div:last-child {
  width: 49%;
  height: 300px;
  border: 0px solid;
  display: flex;
  justify-content: space-between;
}

#footer2>div:last-child>div {
  border: 0px solid;
  width: 200px;

}

#footer2>div:last-child>div>h5 {
  font-size: 16px;
  color: brown;
  margin-top: 10px;
}

#footer2>div:last-child>div>div:first-child {
  border: 1px solid;
  margin-bottom: 0px;
}

#footer2>div:last-child>div>p {
  margin: 15px 0px 10px 5px;
  font-size: 14px;
  color: teal;
  margin-top: 10px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------Footer3 Section Started ------------>>>>>>>>>>>>> */

#footer3 {
  display: flex;
  padding-top: 10px;
  border-top: 1px solid;
  margin-top: 5px;
}

#footer3>div:first-child {
  width: 48%;
  padding-left: 20px;
  padding-top: 0px;
  /* background-color: blue; */
}

#footer3>div:last-child>p {
  margin-top: 0px;
  margin-bottom: 10px;
}

#footer3>div:last-child>div {
  width: 49%;
  height: 100px;
  border: 0px solid;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  column-gap: 10px;


}

#footer3>div:last-child>div>img {
  width: 65px;
  height: 33px;

}



